button {
	background-color: transparent;
	aspect-ratio: 1 / 1;
	text-transform: uppercase;
	font-size: 2rem;
	cursor: pointer;
	border: 3px solid black;
	color: black;
}
button:hover:not(:disabled),
button:focus:not(:disabled) {
	background-color: hsl(200, 100%, 75%);
}
button.active {
    background-color: hsl(200, 100%, 50%);
    color: white;
}
button.inactive {
    opacity: .4;
}